<div am-box="inline inline-hung padded">

    <a href="{{ post.url }}">
        <img
            alt="{{ post.title }}"
            src="/public/images/{{ post.slug }}/thumb/{{ post.cover }}"
            srcset="
                /public/images/{{ post.slug }}/thumb/{{ post.cover }} 1x,
                /public/images/{{ post.slug }}/thumb-x2/{{ post.cover }} 2x
            "
        >
    </a>

    <div><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>

    <div><time>{{ post.date | date: "%B %Y" }}</time></div>

    {% include modules/post-categories-list.liquid categories=post.categories %}

</div>
