<section>
    {% for image in include.images %}
        <a href="/public/images/{{ include.slug }}/{{ image }}">
            <img
                src="/public/images/{{ include.slug }}/{{ image }}"
                alt="{{ image }}"
            >
        </a>
    {% endfor %}
</section>
